<div>
  <%= flash[:notice] %>
</div>

  <div>User info</div> 
  <div>
  <p><%= image_tag @book.user.get_profile_image(100,100) %></p>
  <p>name<%= @book.user.name %></p>
  <p>introduction	</p>
  <p><%= link_to "プロフィール編集", edit_user_path %></p>
  </div>
 
 
<h1>New book</h1>
  <%= form_with model: @book do |f| %>
  <h4>Title</h4>
  <%= f.text_field :title %>
	
  <h4>Body</h4>
  <%= f.text_area :body %>
  
  <%= f.submit 'Create Book' %>
  
  <% end %>
  
  
  <h1>Book detail</h1>
  <table>
   <thead>
   </thead>
  
  
  <tbody>
  
  <tr>
  <p><%= image_tag @book.user.get_profile_image(100,100) %></p>
  <td><%=  link_to @book.title, book_path(@book.id) %></td>
  <td><%= @book.body %></td>
  <td><%=  link_to @user.name, user_path(@user.id) %></td>
  </tr>
  </tbody>
 </table>