<div>
  <%= flash[:notice] %>
</div>

<% if @booker.errors.any? %>
  <%= @booker.errors.count %>error prohibited this book from being saved:
  <ul>
   <% @booker.errors.full_messages.each do |message| %>
  <li><%= message %></li>
   <% end %>
  </ul>
 <% end %>




 <h1>User info</h1>
  <div>
  <%= image_tag  @booker.user.get_profile_image(100,100) %>
  <p>name<%= @booker.user.name %></p>
  <p>introduction<%= @booker.user.introduction %>	</p>
  <p><%= link_to "プロフィール編集", edit_user_path(@booker.user.id) %></p>
  <% if @booker.user == current_user %>
    <%= link_to "削除", book_path(@booker), method: :delete %>
  <% end %>
  </div>
 
 
<h1>New book</h1>
  <%= form_with model: @book do |f| %>
  <h4>Title</h4>
  <%= f.text_field :title %>
	
  <h4>Body</h4>
  <%= f.text_area :body %>
  
  <%= f.submit 'Create Book' %>
  
  <% end %>
  

 <h1>Book detail</h1>
 
 <table>
   <thead>
   <tr>
    <th></th>
    <th>Title</th>
    <th>Opinion</th>
   </tr>
   </thead>

 <tbody>
  <td>
   <%= link_to user_path(@booker.user.id) do %> 
   <%= image_tag @booker.user.get_profile_image(100,100) %>
   <% end %>
  </td>
  <td><%= link_to @booker.title, book_path(@booker.id) %></td>
  <td><%= @booker.body %></td>
  <td><%= link_to "Edit", edit_book_path(@booker.id) %></td>
  <td><%= link_to "Destroy", book_path(@booker.id), method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
  </tr>
  </tbody>
 </table>
   <%=  link_to @booker.user.name, user_path(@booker.user.id) %>
 